<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" class="card" fxFlex.xs="100">

    <mat-card-title class="fundoo" div fxLayout="row" fxLayoutAlign="center center">
      <span class="n">F</span>
      <span class="n">u</span>
      <span class="n">n</span>
      <span class="n">d</span>
      <span class="n">o</span>
      <span class="n">o</span>
    </mat-card-title>

    <mat-card-title div fxLayout="row" fxLayoutAlign="center center" class="title">Forgot password ?</mat-card-title>
    <mat-card-subtitle class="subtitle" fxLayoutAlign="center center">Enter your email id to reset password</mat-card-subtitle>

    <form>
      <div fxLayoutAlign="center center" class="email">
        <mat-form-field appearance="outline" class="email" fxLayoutAlign="center center">
          <mat-label>Email id</mat-label>
          <input matInput placeholder="Enter your email id" [formControl]="email"
            [errorStateMatcher]="matcher">
            <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Errors appear instantly!</mat-hint>
         
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>


          <div class="for-button">
              <button mat-button (click)="login()" class="link" fxLayoutAlign="center">
                  Login insted
                </button>
        <button class="button" mat-button (click)="onsubmit()" mat-raised-button color="primary">Go</button>
        
        </div>

       
    
    </form>

  </mat-card>
</div>