

 <html> <div>
<!-- TO DISPLAT TAKE NOTE  -->
<div
  *ngIf="flag === true"
  class="body"
  (click)="reverseFlag()"
  fxLayout="row"
  fxLayoutAlign="space-around start"
  fxFlex="100"
>
  <mat-card 
    fxFlex="45"
    fxFlex.xs="100"
    class="matcard"
    fxLayoutAlign="space-between center"
    style="padding-bottom:0px;padding-top:0px"
  >
    <div
      data-text="Take a note..."
      class="Border"
      id="noteTitle"
      fxLayout="column"
      contenteditable="true"
      class="maincard"
    ></div>
    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button>
        <mat-icon class="check" matTooltip="New List"
          ><img
            id="img2"
            src="../../../assets/images/outline-check_box-24px.svg"
        /></mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="check" matTooltip="New note with drawing"
          ><img id="img2" src="../../../assets/images/outline-brush-24px.svg"
        /></mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="insert" matTooltip="New note with image"
          ><img id="img2" src="../../../assets/images/outline-image-24px.svg"
        /></mat-icon>
      </button>
    </div>
  </mat-card>
</div> 

<!-- TO DISPLAY TITLE AND TAKE A NOTE -->
<div
  *ngIf="flag === false"
  fxLayout="row"
  fxLayoutAlign="space-around start"
  fxFlex="100"
>
  <mat-card
    fxLayout="column"
    class="matcard"
    fxFlex="40"
    fxFlexOffset.xl="60"
    fxFlex.xs="97"
    [ngStyle]="{'background-color':color}"
  >
    <div
      fxFlex="55"
      fxFlexOffset.xl="20"
      fxFlex.xs="97"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="Border" fxLayout="column" class="takenote">
        <textarea
          class="textArea"
          matTextareaAutosize
          placeholder="Title"
          [formControl]="title"
        ></textarea>
      </div>
      <div fxLayout="row">
        <button *ngIf="flag1==true"(click)="notePin()" mat-icon-button color="basic">
          <div class="barpin"  >
            <img src="../../../assets/images/pinbar.svg" />
          </div>
        </button>
        <button  *ngIf="flag1==false"  (click)="notePin()" mat-icon-button color="basic">
            <div class="barpin">
                <img src="../../../assets/images/unpinbar.svg" />
              </div>
          </button>
      </div>
    </div>

    <div class="Border" fxLayout="column" class="takenote">
      <textarea
        class="textArea"
        matTextareaAutosize
        placeholder="Take a note..."
        [formControl]="description"
      ></textarea>
    </div>

    <div fxFlex="10" fxLayoutAlign="start center">
      <div fxFlex="50">
          <!-- <app-icon-list (colorEvent)="updateColor($event,data.notedata._id)"></app-icon-list> -->
          <app-icon-list (colorEvent)="recieveColor($event)" (colorEvent)="updateColor($event,item._id)" [noteData]="item"></app-icon-list>
          <!-- <app-icon-list (colorEvent)="recieveColor($event)" (colorEvent)="updateColor($event,data.notedata._id)"></app-icon-list> -->
          <!-- <app-icon-list (colorEvent)="recieveColor($event)" (colorEvent)="updateColor($event,item._id)"></app-icon-list> -->
        <!-- <app-icon-list [type]='type' [more]='more' (color)="changeColor($event)"></app-icon-list> -->
      </div>
      <div fxFlex="50" fxLayoutAlign="end center">
        <button
          class="addnote"
          mat-button
          (click)="close()"
        >
          close
        </button>
      </div>
    </div>
  </mat-card>
</div></div>
<div><div style="width:100%"><app-card-notes></app-card-notes></div>
<!-- <app-card-notes></app-card-notes> -->
</div>
</html> 